@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServiciosModel
@{
}


@* <div class="text-center"> *@
<form method="post" class="row g-3">
   
    <div class="col-md-4">
        <label for="origen" class="form-label">Origen:</label>
        <input type="text" class="form-control" id="origen" placeholder="Origen" asp-for="Servicios.origen">
    </div>
    <div class="col-md-4">
        <label for="destino" class="form-label">Destino:</label>
        <input type="text" class="form-control" id="destino" placeholder="Destino" asp-for="Servicios.destino">
    </div>
    <div class="col-md">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="Date" class="form-control" id="fecha" placeholder="Fecha" asp-for="Servicios.fecha">
    </div>
    <div class="col-md">
        <label for="hora" class="form-label">Hora:</label>
        <input type="time" class="form-control" id="hora" placeholder="Hora" asp-for="Servicios.hora">
    </div>
    <div class="col-md-12"><p></p></div>
    
    <div class="col-12">
        <label for="encomienda" class="form-label">Encomienda:</label>
        <input type="number" class="form-control" id="encomienda" placeholder="Encomienda" asp-for="Servicios.encomienda">
    </div>
    <div class="col-12 text-center">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>
@* </div> *@