@page
@{
}

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="text-center fs-4">
      <th scope="col" class="text-uppercase">id</th>
      <th scope="col" class="text-uppercase">Descripción</th>
      <th scope="col">PESO Kg</th>
      <th scope="col" class="text-uppercase">Tipo</th>
      <th scope="col" class="text-uppercase">Presentación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Elementos varios (accesorios, juguetes)</td>
      <td>24</td>
      <td>Paquete</td>
      <td>Caja (12cm x 5cm)</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>