@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @* <img class="img-fluid" src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logotipo-1998-2000.jpg" alt="Hola mundo..." width="100"> *@
    <img class="img-fluid" style="height: 300px" src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logotipo-1998-2000.jpg" alt="Hola mundo...">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
