@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{
}

@* <div class="text-start"> *@
@* text-center mb-3*@
<form method="post" class="row g-3">
    <div class="col-md-6">
        <label for="nombre" class="form-label">Nombres:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombres..." asp-for="Usuarios.nombre" required>
    </div>
    <div class="col-md-6">
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos..." asp-for="Usuarios.apellidos" required>
    </div>
    <div class="col-md-12"><p></p></div>
    <div class="col-sm-6">
        <label for="direccion" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="direccion" placeholder="Dirección..." asp-for="Usuarios.direccion" required>
    </div>
    <div class="col-sm-3">
        <label for="ciudad" class="form-label">Ciudad:</label>
        <input type="text" class="form-control" id="ciudad" placeholder="Ciudad..." asp-for="Usuarios.ciudad" required>
    </div>
    <div class="col-sm-3">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono..." asp-for="Usuarios.telefono" minlength="7" required>
    </div>

    <div class="col-12 text-center">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>
@* </div> *@
